<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User Login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <form class="" action="" method="post">
        <table>
          <tr >
            <td>User Name</td>
            <td>
              <input type="text" name="username" value="">
            </td>
          </tr>
          <tr >
            <td>Password</td>
            <td>
              <input type="password" name="password" value="" >
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <input type="submit" name="" value="Log In" >
            </td>
          </tr>
        </table>
      </form>
    </div>
  </body>
</html>
