<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Registration</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="reg">
        <form class="" method="post">
          <table>
            <tr>
              <td>Name</td>
              <td>
                <input type="text" name="name" value="">
              </td>
            </tr>
            <tr>
              <td>Password</td>
              <td>
                <input type="password" name="password" value="">
              </td>
            </tr>
            <tr>
              <td>Confirm Password</td>
              <td>
                <input type="password" name="cpassword" value="">
              </td>
            </tr>
            <tr>
              <td>Email</td>
              <td>
                <input type="email" name="email" value="">
              </td>
            </tr>
            <tr>
              <td>
                <input type="submit" name="submit" value="Signup">
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </body>
</html>
