<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Online Ticket System </title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/base/search/css/master.css">
  </head>
  <body>
    <div class="">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Online Ticket</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/adminlogin">Admin Login</a></li>
            <li><a href="/userlogin"> User Login </a></li>
            <li><a href="/usersignup"> Signup </a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="box">
      <input type="text" name="" value="" placeholder="search" id="searchtext">
      <input type="submit" name="" value="Search" id="mainsearch">
      <div class="" id="suggestion">

      </div>
    </div>


    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>

    <script type="text/javascript" src="/assets/base/search/js/search.js">

    </script>
  </body>
</html>
