<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Online Ticket System </title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <div class="">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Online Ticket</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/adminlogin">Admin Login</a></li>
            <li><a href="/userlogin"> User Login </a></li>
            <li><a href="/usersignup"> Signup </a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="container">
      <input type="text" name="" value="" placeholder="search" id="searchbar">
    </div>


    <script type="text/javascript" src="">

    </script>
  </body>
</html>
