<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Admin Login </title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="table-responsive">
        <form method="post">
          <table class="">
            <tr class="form-group">
              <td> Name </td>
              <td>
                <input type="text" id="name" name="name" value="" class="form-control" autofocus autocomplete="off">
              </td>
            </tr>
            <tr class="form-group">
              <td> Password </td>
              <td>
                <input type="password" id="password" name="password" value="" class="form-control" >
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <input type="submit" name="submit" value="Login" class="btn btn-success" id="submit">
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>

      <script type="text/javascript" src="/assets/admin/validation/script.js">

      </script>
  </body>
</html>
