<style>
* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column1 {
    float: left;
    width: 40%;
    padding: 10px;
    height: 800px; /* Should be removed. Only for demonstration */
}
.column2 {
    float: left;
    width: 60%;
    padding: 10px;
    height: 800px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
/*.row:after {
    content: "";
    display: table;
    clear: both;
}*/

.custom{
	float: center;
    width: 30%;
    padding: 10px;
    height: 40px; /* Should be removed. Only for demonstration */
}
</style>