<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User Panel</title>
    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/user/dashboard/user.css">

  </head>
  <body>

    <h2>Welcome <%= name%> </h2>
<div class="container-fluid">
<div class="row">
  <div class="col-lg-6 column2" style="background-color:#ebebe0;">	
 <h5> Buy Air Ticket </h5>    
    <br/>
Departure Airport: <input type="text" id="fcost" class="form-control custom" name="departure" value="">
Arrival Airport: <input type="text" id="fcost" class="form-control custom" name="arrival" value="">
<br>
<input type="submit" name="" value="Search" class="btn btn-info" id="serachflight">
<br> <hr>
<table class="table">
            <tr>
              <th>List</th>
              <th>Flight Name</th>
              <th>Departure</th>
              <th>Arrival</th>
              <th>Duration</th>
              <th>Take Off Date</th>
              <th>Type</th>
              <th>Cost</th>
              <th>Cost Type</th>
            </tr>
            
            <!-- forloop for show result by search ref. sir upload file -->

          </table>
  </div>


  <div class="col-lg-6 column1" style="background-color:#c2c2a3;">
    
<h2>Previous Booking List</h2>
<table class="table">
            <tr>
              <th>InvoiceID</th>
              <th>PaymentType</th>
              <th>Payment_Status</th>
              <th>No.Of_Passenger</th>
              <th>Total_Amount</th>
            </tr>
            
            <!-- forloop for show result by search ref. sir upload file -->

          </table>
  </div>
</div>
</div>

    <a href="/userlogout">Logout</a>
    <br>
    <a href="profile.ejs">Profile</a>
    <br>
    <a href="payment.ejs">Payment</a>
  </body>
</html>
