<html>
<head>
	<title>Payment</title>
</head>
	
<center><h1>Payment</h1></center>
	<center>
	
		<form method="post">
			<br/>
			<table width="50%">
				
				<tr>
					<td colspan="3">
						<fieldset>
							<legend>Payment Type</legend>    
							<input name="paymenttype" id="pt" type="radio" value="bKash" >Bkash
							<input name="paymenttype" id="pt" type="radio" value="MasterCard">Master Card
						</fieldset>
					</td>
				</tr>

				<tr>
					<td>No of Passenger</td>
					<td>:</td>
					<td>
						<input name="pnum" id = "pnum" type="text" placeholder="Passenger Number"></td>
				</tr>		
				
				<tr>
					<td colspan="4"><hr/></td>
				</tr>
					
				<tr>
					<td>Total Taka</td>
					<td>:</td>
					<td>
						<input name="tt" id = "tt" type="text" value="" placeholder="Total Taka">
					</td>
						
				</tr>
		
			</table>
				
			<br/>
				<input type="submit" id="submit" name="submit" value="Paid">

		</form>
	</center>
</html>