<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User Panel</title>
    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/user/dashboard/user.css">

  </head>
  <body>
    <h2>Welcome <%= name%> </h2>
     <h5> Profile
ID <input type="text" id="id" class="form-control custom" name="id" value=""><br>
Name: <input type="text" id="name" class="form-control custom" name="name" value="">
<br>
Password <input type="text" id="password" class="form-control custom" name="password" value=""><br>
Email: <input type="text" id="email" class="form-control custom" name="email" value="">
<br>
<input type="submit" name="" value="Update/Change" class="btn btn-info" id="updateUser">
<br> <hr>

    <a href="/userlogout">Logout</a>
  </body>
</html>
